In [6]:
import sys

In [5]:
sys.version

'3.11.14 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 18:30:03) [MSC v.1929 64 bit (AMD64)]'

In [7]:
sys.executable

'c:\\Users\\dil91\\anaconda3\\envs\\ds_env\\python.exe'

In [8]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
df = pd.DataFrame({
    "iteration": [1, 2, 3],
    "status": ["PASS", "PASS", "FAIL"]
})
df

   iteration status
0          1   PASS
1          2   PASS
2          3   FAIL